@import '../Variables/Variables.scss';

.filter {
    height: fit-content;
    position: absolute;
    left: 280px;
    top: 430px;
    box-shadow: rgba(161, 159, 159, 0.35) 0px 0px 8px;
    background-color: white;
    padding: 20px 10px;
    font-size: small;

    form {
        div {
            display: flex;
            flex-direction: column;
            padding: 10px 5px;
            gap: 5px;

            input, select {
                padding: 8px;
                border-radius: 10px;
                border: 1px solid $lightNeonColor;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            button {
                width: 50%;
                padding: 10px 5px;
                border-radius: 10px;
                border: none;
            }

            .filterBtn {
                color: white;
                background-color: $neonColor;
            }

            .resetBtn {
               border: 1px solid $grayColor; 
            }
        }
    }
}