@import '../Variables/Variables.scss';

.loginPage {
    padding: 20px;

    .main {
        margin-top: 20px;
        
        img {
            width: 100%;
        }

        h1, p {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 10px;

            input {
                padding: 8px;
                border-radius: 10px;
                border: 1px solid #545F7D;
            }

            a {
                text-decoration: none;
                font-size: small;
                color: $neonColor;
            }

            button {
                padding: 10px;
                border-radius: 10px;
                background-color: $neonColor;
                border: none;
                color: white;
            }
        }
    }
}

@media screen and (min-width: 850px) {
    .loginPage {
        padding: 50px;
    
        .main {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            
            img {
                width: fit-content;
            }

            div {
                width: 40%;
            }
    
            h1, p {
                text-align: left;
                color: $primaryColor;
            }
    
            form {
                display: flex;
                flex-direction: column;
                gap: 30px;
                margin-top: 30px;
    
                input {
                    padding: 12px;
                    border-radius: 10px;
                    border: 1px solid #545F7D;
                    width: 70%;
                }
    
                a {
                    text-decoration: none;
                    font-size: small;
                    color: $neonColor;
                }
    
                button {
                    padding: 12px;
                    border-radius: 10px;
                    background-color: $neonColor;
                    border: none;
                    color: white;
                    width: 75%;
                }
            }
        }
    }
}