@import '../Variables/Variables.scss';

.loginPage {
    grid-column: 1 / 7;
    padding: 20px;
    
    .images {
       .signIn {
        display: none;
       }
    }
        
        
    .form {
        margin-top: 50px;
        h1, p {
            text-align: center;
            color: $primaryColor;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 10px;

            input {
                padding: 8px;
                border-radius: 10px;
                border: 1px solid #545F7D;
            }

            .show {
                position: absolute;
                top: 45%;
                left: 75%;
                font-size: small;
                color: $neonColor;
            }

            a {
                text-decoration: none;
                font-size: small;
                color: $neonColor;
            }

            .btn {
                padding: 10px;
                border-radius: 10px;
                background-color: $neonColor;
                border: none;
                color: white;
                text-align: center;
            }
        }
}
    }   

       

       

@media screen and (min-width: 850px) {
    
        .loginPage {
            padding: 50px;
            display: flex;
            justify-content: space-between;
        
            .images {
                display: flex;
                flex-direction: column;
                gap: 60px;

                .logo {
                  width: 30%;
                  align-self: flex-start;
                }

                .signIn {
                    width: fit-content;
                    display: inline;
                }
            }
    
            .form {
                width: 50%;
                gap: 50px;

                h1, p {
                    text-align: left;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    margin-top: 30px;
        
                    input {
                        padding: 12px;
                        border-radius: 10px;
                        border: 1px solid $grayColor;
                        width: 70%;
                    }

                    .show {
                        top: 47%;
                        left: 80%;
                    }
        
                    a {
                        text-decoration: none;
                        font-size: small;
                        color: $neonColor;
                    }
        
                    .btn {
                        padding: 12px;
                        border-radius: 10px;
                        background-color: $neonColor;
                        border: none;
                        color: white;
                        width: 70%;
                    }
                }
            }
    
            
        }
}