@import '../Variables/Variables.scss';

.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: relative;

    img {
        width: 30%;
        align-self: center;
    }

    form {
        display: none;
    }

    div {
        display: flex;
        gap: 20px;

        .doc {
            align-self: center;

        }

        img {
            width: 20px;
        }

        .user {
            display: none;
        }
    }
}

@media screen and (min-width: 850px) {
    .Navbar {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        box-shadow: rgba(161, 159, 159, 0.35) 0px 0px 8px;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: white;
    
        img {
            width: fit-content;
            align-self: center;
        }
    
        form {
            display: block;
            align-self: center;
            width: 40%;
            input {
                padding: 15px 50px 15px 50px;
                border-radius: 10px 0 0 10px;
                border: 2px solid whitesmoke;
                width: 250px;    
            }

            button {
                border-radius: 0px 10px 10px 0px;
                padding: 15px 20px;
                background-color: $neonColor;
                border: none;
                margin-top: -3px;
            }
        }
    
        div {
            display: flex;
            gap: 20px;
    
            .doc {
                margin-right: 50px;
            }

            .burger {
                display: none;
            }

            .alert {
                width: 20px;
            }

            .user{
                display: flex;
            }
    
            img {
                width: 40px;
            }

            .dropdown {
                width: fit-content;
                align-self: center;
            }
        }
    }
}