@import '../Variables/Variables.scss';

.options {
    position: absolute;
    width: 40%;
    padding: 5px  8px;
    right: 90px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(161, 159, 159, 0.35) 0px 0px 8px;

    div, .viewDetails {
        display: flex; 
        gap: 5px;
        margin: 4px auto;
        margin-left: 10px;
        cursor: pointer;
        
        a {
            text-decoration: none;
            color: $grayColor;
        }

        img {
            align-self: center;
        }
    }

}

@media screen and (min-width: 850px) {
    .options {
        width: 10%;
        margin-left: 0px;
    }
}