.options {
    position: absolute;
    width: 10%;
    padding: 5px  8px;
    right: 90px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(161, 159, 159, 0.35) 0px 0px 8px;
    
    div {
        display: flex; 
        gap: 5px;
        margin: 8px 0;
        cursor: pointer;

        img {
            align-self: center;
        }
    }

}