

.users {
    background-color: rgba(248, 243, 243, 0.35);
    grid-column: 1 / 7;
    height: 100%;
    
    h1 {
        margin-left: 10px;
    }

    .users-bar{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        margin: auto;

        div {
            margin: 0 10px;
            box-shadow: rgba(161, 159, 159, 0.35) 0px 0px 8px;
            width: 70%;
            padding: 20px;
            border-radius: 10px;
            height: 120px;

            h4 {
                font-size: small;
            }
        }
    }
}

@media screen and (min-width: 850px) {
    .users {
        background-color: rgba(248, 243, 243, 0.35);
        grid-column: 2 / 7;
        padding: 20px 50px;
    
        .users-bar{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            margin-top: 10px;
            gap: 20px;
            width: 100%;
    
            div {
                margin: 0 10px;
                box-shadow: rgba(161, 159, 159, 0.35) 0px 0px 8px;
                width: 25%;
                padding: 10px;
                border-radius: 10px;
                height: 120px;
    
                h4 {
                    font-size: small;
                }
            }
        }
    }
}

