@import '../Variables/Variables.scss';

.userDetails {
    background-color: rgba(248, 243, 243, 0.35);
    grid-column: 2 / 7;
    padding: 30px 50px;

    a {
        text-decoration: none;
        color: $grayColor;
    }

    .heading {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            gap: 20px; 
            align-self: center;

            button {
                padding: 10px;
                border-radius: 8px;
                background-color: white;
            }

            .blacklist {
                border: 1px solid #E4033B;
                color: #E4033B;
            }

            .activate {
                border: 1px solid $neonColor;
                color: $neonColor;
            }
        }
    }

    .info {
        margin-top: 30px;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(161, 159, 159, 0.35) 0px 0px 8px;
        border-bottom-width: 1px;
 
        .basicInfo {
            display: flex;
            align-items: center;
            gap: 50px;
            padding: 20px 50px;
            
    
            .profile {
                display: flex; 
                gap: 30px;
                border-right: 1px solid $lightGrayColor;
                padding-right: 50px;
                
                .profilePicture {
                    background-color: $lightGrayColor;
                    padding: 20px;
                    border-radius: 50%;
                }
            }
    
            .userTier {
                border-right: 1px solid $lightGrayColor;
                padding-right: 50px;
    
                .stars {
                    margin-left: 10px;
                }
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 90%;

            li {
                list-style: none;
                cursor: pointer;
                width: 100%;
                padding-bottom: 10px;
                text-align: center;
            }

            li:hover {
                border-bottom: 2px solid $neonColor;
            }
        }
    }   
}